
@color:pink;

.list{margin:10px;padding-bottom:80px;
	color:red;list-style:none;
	
 
}

.loading-container{width:100%;text-align:center;}

:local(.item2){transition:all 200ms ease-in;}

:global(.list){
		background:blue;
   }