.nav{position:fixed;width:100%;background:green;bottom:0;display:flex;justify-content:space-around;line-height:50px;

  li{color:#fff;width:50%;text-align:center;cursor:pointer;
     .on{
     	background:blue;
     }
     a{display:block;color:#fff;}
  }

}