*{margin:0;padding:0;list-style:none;box-sizing:border-box;text-decoration:none;}
::-webkit-scrollbar{width:5px;height:5px;position:fixed;background-color:#F3F3F3;}::-webkit-scrollbar-track{width:5px;background-color:rgba(0,0,0,0);-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}::-webkit-scrollbar-thumb{background-color:rgba(61,63,63,.5);background-clip:padding-box;min-height:20px;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}::-webkit-scrollbar-thumb:hover{background-color:rgba(61,63,63,1);}
#app{overflow:hidden;}

.bananer{width:100%;}
.notfound{text-align:center;color:#ccc;}
